<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BostonServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BostonServer.My.MySettings>
            <setting name="BostonServerPortNumber" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="BostonServerURL" serializeAs="String">
                <value>http://localhost:</value>
            </setting>
        </BostonServer.My.MySettings>
    </userSettings>
</configuration>