<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Diagramming" publicKeyToken="21bf4734c13246ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.19446" newVersion="5.1.1.19446" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Svg" publicKeyToken="cb2acc0bcf38be91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3214.17189" newVersion="1.0.3214.17189" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Common" publicKeyToken="7fed53ada5b92263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3214.16975" newVersion="1.2.3214.16975" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
