<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Boston.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Diagramming" publicKeyToken="21BF4734C13246EA" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.19446" newVersion="5.1.1.19446" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Svg" publicKeyToken="CB2ACC0BCF38BE91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3214.17189" newVersion="1.0.3214.17189" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Common" publicKeyToken="7FED53ADA5B92263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3214.16975" newVersion="1.2.3214.16975" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Diagramming" publicKeyToken="21bf4734c13246ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.19446" newVersion="5.1.1.19446" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Svg" publicKeyToken="cb2acc0bcf38be91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3214.17189" newVersion="1.0.3214.17189" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Common" publicKeyToken="7fed53ada5b92263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3214.16975" newVersion="1.2.3214.16975" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Boston.My.MySettings>
      <setting name="DatabaseVersionNumber" serializeAs="String">
        <value>1.34</value>
      </setting>
      <setting name="DisplayStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowModelExplorer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStandardToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadToolboxWithPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HelpfileLocation" serializeAs="String">
        <value>.\help\Boston.chm</value>
      </setting>
      <setting name="DatabaseConnectionString" serializeAs="String">
        <value>Provider=Microsoft.Jet.OLEDB.4.0; Data Source=C:\ProgramData\Viev Pty Ltd\Boston\4.0.0.0\database\boston.vdb</value>
      </setting>
      <setting name="ThrowCriticalDebugMessagesToScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>DebugCriticalErrorsOnly</value>
      </setting>
      <setting name="WordNetDictionaryEnglishPath" serializeAs="String">
        <value>.\wordnet\</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="ThrowInformationDebugMessagesToScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ToolboxDragOffersSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFactTypeNamesOnORMModelLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsecaseShapeLibrary" serializeAs="String">
        <value>.\shapelibrary\usecase.shl</value>
      </setting>
      <setting name="ORMShapeLibrary" serializeAs="String">
        <value>.\shapelibrary\orm.shl</value>
      </setting>
      <setting name="DatabaseType" serializeAs="String">
        <value>MSJet</value>
      </setting>
      <setting name="ShowFactTablesOnORMModelLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultBrainMode" serializeAs="String">
        <value>NaturalLanguage</value>
      </setting>
      <setting name="RecentFilesName" serializeAs="String">
        <value>SavedRecentNodes.xml</value>
      </setting>
      <setting name="ERDShapeLibrary" serializeAs="String">
        <value>.\shapelibrary\entityrelationshipdiagram.shl</value>
      </setting>
      <setting name="DisplayCoreMetaModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SuperuserMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayLanguageModel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SilentPreConfiguration" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayBrianaVirtualAnalyst" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartVirtualAnalystInQuietMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AIMLDirectory" serializeAs="String">
        <value>\AIML\</value>
      </setting>
      <setting name="DefaultAIMLFile" serializeAs="String">
        <value>english.aiml</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowModelConfiguration" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseVirtualUI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseClientServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoggingOutEndsSession" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RequireLoginAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseWindowsAuthenticationVirtualUI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InitialiseClient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowProjectUserMenuItems" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultPageZoomFactor" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ShapeLibraryClassDiagram" serializeAs="String">
        <value>N/A At this time. UML Class Diagrams Not Implemented.</value>
      </setting>
      <setting name="StateTransitionShapeLibrary" serializeAs="String">
        <value>.\shapelibrary\statetransition.shl</value>
      </setting>
      <setting name="SilentDatabaseUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FactEngineDefaultQueryResultLimit" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="FactEngineUseAIIndentificationQueries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FactEngineShowDatabaseLogoInModelExplorer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ERDViewHideUnknowPredicates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FactEngineUseReferenceModeOnlyForSimpleReferenceSchemes"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactEngineUserDateTimeFormat" serializeAs="String">
        <value>dd/MM/yyyy HH:mm:ss</value>
      </setting>
      <setting name="FactEngineUserDateFormat" serializeAs="String">
        <value>dd/MM/yyyy</value>
      </setting>
      <setting name="AutoCompleteSingleClickSelects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiagramSpyShowLinkFactTypes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThrowWarningDebugMessagesToScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLayoutAfterAddingAssociatedFactTypes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PGSShowForeignKeyProperties" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReverseEngineeringCreateEntityTypesForTablesWithNoColumns"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReverseEngineeringDefaultReferenceMode" serializeAs="String">
        <value>Iid</value>
      </setting>
      <setting name="ReverseEngineeringDefaultPrimaryKeyDataType" serializeAs="String">
        <value>OtherObjectID</value>
      </setting>
      <setting name="CodeGenerationDispellLinkFactTypesIncomingRelations"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReverseEngineeringKeepDatabaseColumnNames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutomaticallyDeleteTroublesomeColumns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NORMAImportingThrowRoleConstraintRoleWarnings"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowUnifiedOntologyBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseAutoUpdateChecker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseAutomatedErrorReporting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DummySetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PGSShapeLibrary" serializeAs="String">
        <value>.\shapelibrary\propertygraphschema.shl</value>
      </setting>
      <setting name="UseSquareBracketsSQL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeywordExtractionStopListLocation" serializeAs="String">
        <value>.\keywordextraction\StopList.txt</value>
      </setting>
      <setting name="DefaultReferenceMode" serializeAs="String">
        <value>.Id</value>
      </setting>
      <setting name="UseDefaultReferenceModeNewEntityTypes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BPMNShapeLibraryCore" serializeAs="String">
        <value>.\shapelibrary\bpmn-core.shl</value>
      </setting>
      <setting name="ShowStackTraceFactEngineQuery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BostonErrorMessagesShowStackTrace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NORMAImportingAlwaysCollapseReferenceMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportFBMExcludeMDAModelElements" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FactEngineUseTransformations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeGenerationUseSquareBracketsSQLTableNames"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BostonErrorMessagesShowFlashCard" serializeAs="String">
        <value>True</value>
      </setting>
    </Boston.My.MySettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>