<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net481" />
  <package id="Autoupdater.NET.Official" version="1.7.0" targetFramework="net481" />
  <package id="Azure.AI.OpenAI" version="1.0.0-beta.7" targetFramework="net481" />
  <package id="Azure.Core" version="1.44.1" targetFramework="net481" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net481" />
  <package id="cef.redist.x64" version="116.0.23" targetFramework="net481" />
  <package id="cef.redist.x86" version="116.0.23" targetFramework="net481" />
  <package id="CefSharp.Common" version="116.0.230" targetFramework="net481" />
  <package id="CefSharp.WinForms" version="116.0.230" targetFramework="net481" />
  <package id="CsvHelper" version="26.0.1" targetFramework="net481" />
  <package id="DockPanelSuite" version="3.1.1" targetFramework="net481" />
  <package id="DockPanelSuite.ThemeVS2012" version="3.1.1" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net481" />
  <package id="dotNetRDF" version="2.7.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="GemBox.Email" version="17.0.1185" targetFramework="net481" />
  <package id="Google.Protobuf" version="3.17.3" targetFramework="net481" />
  <package id="HtmlAgilityPack" version="1.11.31" targetFramework="net481" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net481" />
  <package id="IKVM" version="8.2.1" targetFramework="net481" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net481" />
  <package id="J2N" version="2.0.0" targetFramework="net481" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net481" />
  <package id="LiteDB" version="5.0.21" targetFramework="net481" />
  <package id="Lucene.Net" version="4.8.0-beta00016" targetFramework="net481" />
  <package id="Lucene.Net.Highlighter" version="4.8.0-beta00016" targetFramework="net481" />
  <package id="Lucene.Net.Memory" version="4.8.0-beta00016" targetFramework="net481" />
  <package id="Lucene.Net.Queries" version="4.8.0-beta00016" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Mvc.Razor.Extensions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Razor" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.8.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.8.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Razor" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net481" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Http" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.2" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net481" />
  <package id="Mindscape.Raygun4Net" version="5.13.0" targetFramework="net481" />
  <package id="NAudio" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Lame" version="2.1.0" targetFramework="net481" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net481" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Schema" version="3.0.15" targetFramework="net481" />
  <package id="OpenAI" version="2.0.0" targetFramework="net481" />
  <package id="Pkcs11Interop" version="5.1.1" targetFramework="net481" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net481" />
  <package id="Scintilla.NET" version="5.3.2.9" targetFramework="net481" />
  <package id="Scriban" version="6.4.0" targetFramework="net481" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net481" />
  <package id="Stanford.NLP.CoreNLP" version="4.5.0" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net481" />
  <package id="Syn.WordNet" version="1.0.5" targetFramework="net481" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.ClientModel" version="1.2.1" targetFramework="net481" />
  <package id="System.Collections" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net481" />
  <package id="System.Console" version="4.3.0" targetFramework="net481" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.2" targetFramework="net481" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net481" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Memory.Data" version="8.0.1" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net481" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.DispatchProxy" version="4.7.1" targetFramework="net481" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net481" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net481" />
  <package id="VDS.Common" version="1.10.0" targetFramework="net481" />
  <package id="WinFormAnimation" version="1.3.0.0" targetFramework="net481" />
  <package id="YamlDotNet" version="18.0.0" targetFramework="net481" />
</packages>